# Server Configuration
NODE_ENV=production
PORT=3000
CORS_ORIGIN=*

# Database Configuration (RDS MySQL)
DB_HOST=singha-loyalty-db.xxxxx.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=Mysql#life0
DB_NAME=singha_loyalty

# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-this-in-production

# AWS Configuration (optional)
AWS_REGION=us-east-1

singha-loyalty-db.cot0yycum90g.us-east-1.rds.amazonaws.com

jwt refresh txPkjiW97/h7gDxOSXNiSI/lQE14xnFNa+SRdwdeF3A=
jwt d3UrNXCORHtr37NLT7G2mUJKZdDBQoPwth0swpNFkjc=